.title {
    font-family: Arial, sans-serif;

    font-size: 45px;

    color: #29bd0b;

    font-weight: 900;

    font-style: italic;

    text-align: center;
}

.text {
    line-height: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #000;
}